@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1c1c1c;

  --blue: #0166ff;
  --red: #ee0153;
  --green: #26db18;
  --cyan: rgb(27, 212, 219);
  --magenta: #e816b0;
  --yellow: #f3c623;

  --black: #1c1c1c;
  --white: #ffffff;
  --grey: #f4f2f2;

  --bold-blue: linear-gradient(90deg, #0166ff, #00d4ff);
  --electric-red: linear-gradient(90deg, #ee0153, #e816b0);
  --expert-green: linear-gradient(90deg, #26db18, #00d4ff);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
